<footer>
  <a class="anchor" id="contact"></a>
  <div class="container">
    <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-center align-items-md-end">
      <div>
        <p class="text-center text-md-left">Contact us with any questions
          <br/>or to book a 15 minute consultation :</p>

        <p class="mb-3 mb-md-0 text-center text-md-left">
          Post-Ability
          <br/> Vancouver, BC
          </br/>
          <a href="mailto:trevor@post-ability.ca">
            <i class="fa fa-envelope mr-2"></i>trevor@post-ability.com</a>
          <br/>
          <a href="tel:604-312-949">
            <i class="fa fa-phone mr-2"></i>604-312-9498</a>
        </p>

      </div>
      <div class="copyright">
        © 2021 Post-Ability
      </div>
    </div>
  </div>
</footer>