<footer>
  <a class="anchor" id="contact"></a>
  <div class="container">
    <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-center align-items-md-end">
      <div>
        <p class="mb-0 text-center text-md-left">Contact me with any questions
          <br/>or to book a free 20 minute consultation :</p>
        <nav class="d-flex justify-content-center justify-content-md-start">
          <ul class="list-unstyled m-0">
            <li>
              <a href="mailto:trevor@post-ability.ca">
                <i class="fa fa-envelope"></i>
                trevor@post-ability.ca
              </a>
            </li>
            <!--<li>
        <a href="tel:">
          <i class="fa fa-phone"></i>
          (555) 555-5555
        </a>
      </li>-->
          </ul>
        </nav>
      </div>
      <div class="copyright">
        © 2021 Post-ability
      </div>
    </div>
  </div>
</footer>