<div class="section section--dark about">
  <div class="container">
    <h2>{{data.aboutTitle}}</h2>
    {{{aboutDescription}}}
  </div>
</div>


<div class="section services">
  <div class="container">
    <h2 class="mb-3">Services</h2>
    <div class="row mb-4">
      <div class="col-md-4">
        <button class="services__tiles">
          <i class="fas fa-bullseye"></i>
          <h3>Identifying Educational Goals</h3>
          <p>The first meeting consists of a comprehensive interview with the student to collect all relevant information regarding
            their educational goals. </p>
          <span class="services__tilesLearnMore">Learn more</span>
        </button>
      </div>
      <div class="col-md-4">
        <button class="services__tiles">
          <i class="fas fa-book-reader"></i>
          <h3>Guide to Post-Secondary</h3>
          <p>A second meeting is then booked to review with the student the essential list of resources and supports they should
            access at their particular school to best support their educational needs. </p>
          <span class="services__tilesLearnMore">Learn more</span>
        </button>
      </div>
      <div class="col-md-4">
        <button class="services__tiles">
          <i class="fas fa-hands-helping"></i>
          <h3>Additional Sessions</h3>
          <p>Following the second meeting, students can choose to book additional sessions to learn more about particular services
            and supports that are available to students with disabilities in the post-secondary environment.
          </p>
          <span class="services__tilesLearnMore">Learn more</span>
        </button>
      </div>
    </div>
  </div>
</div>


<div class="section section--dark who">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <h2>Who am i?</h2>
        <img src="/img/trevor.jpg" class="img-circle img-responsive employee-pic mb-3" alt="Trevor Leistmeister" />
        <h5 class="mb-3">Trevor Leistmeister
          <br/>
          <small class="text-muted ">Lorem ipsum</small>
        </h5>
        {{{whoAmIDescription}}}
      </div>
    </div>
  </div>
</div>