<div class="section section--dark about">
  <div class="container">
    <h2>{{data.aboutTitle}}</h2>
    {{{aboutDescription}}}
  </div>
</div>


<div class="section services">
  <div class="container">
    <h2>Services</h2>

  </div>
</div>


<div class="section section--dark who">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <h2>Who am i?</h2>
        <img src="/img/trevor.jpg" class="img-circle img-responsive employee-pic mb-3" alt="Trevor Leistmeister" />
        <h5 class="mb-3">Trevor Leistmeister
          <br/>
          <small class="text-muted ">Lorem ipsum</small>
        </h5>
        {{{whoAmIDescription}}}
      </div>
    </div>
  </div>
</div>