<section class="header-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7 mx-auto mr-lg-0 text-center">
        <h1 class="">Getting Ready!</h1>
        <h4 class="mb-4">Post secondary is difficult. Content regarding the extra work it takes if you’re a student with a disability.</h4>
        <a href="#about" class="btn btn-primary btn-lg">Make it!</a>
      </div>
    </div>
  </div>
</section>


<section class="section section--dark about">
  <a class="anchor" id="about"></a>
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <h2>{{data.aboutTitle}}</h2>
        {{{aboutDescription}}}
      </div>
    </div>
  </div>
</section>


<section class="section services">
  <a class="anchor" id="services"></a>
  <div class="container">
    <h2 class="mb-3">Services</h2>
    <div class="row mb-1">
      <div class="col-md-4 mb-3">
        <button class="services__tiles" data-toggle="modal" data-target="#modalGoals">
          <i class="fas fa-bullseye"></i>
          <h3>Identifying Educational Goals</h3>
          <p>The first meeting consists of a comprehensive interview with the student to collect all relevant information regarding
            their educational goals. </p>
          <h6 class="services__tilesLearnMore">Learn more</h6>
        </button>
      </div>
      <div class="col-md-4 mb-3">
        <button class="services__tiles" data-toggle="modal" data-target="#modalGuide">
          <i class="fas fa-book-reader"></i>
          <h3>Guide to Post-Secondary</h3>
          <p>A second meeting is then booked to review with the student the essential list of resources and supports they should
            access at their particular school to best support their educational needs. </p>
          <h6 class="services__tilesLearnMore">Learn more</h6>
        </button>
      </div>
      <div class="col-md-4 mb-3">
        <button data-toggle="modal" data-target="#modalAdditional" class="services__tiles">
          <i class="fas fa-hands-helping"></i>
          <h3>Additional Sessions</h3>
          <p>Following the second meeting, students can choose to book additional sessions to learn more about particular services
            and supports that are available to students with disabilities in the post-secondary environment.
          </p>
          <h6 class="services__tilesLearnMore">Learn more</h6>
        </button>
      </div>
    </div>
  </div>
</section>


<section class="section section--dark who">
  <a class="anchor" id="trevor"></a>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <h2>Who am i?</h2>
        <img src="/img/trevor.jpg" class="img-circle img-responsive employee-pic mb-3" alt="Trevor Leistmeister" />
        <h5 class="mb-3">Trevor Lesmeister
          <br/>
          <small class="text-muted ">Vocational Rehabilitation Specialist</small>
        </h5>
        {{{whoAmIDescription}}}
      </div>
    </div>
  </div>
</section>


<section class="section faq mb-3">
  <a class="anchor" id="faq"></a>
  <div class="container">
    <h2 class="mb-3">FAQ</h2>
    <div class="row">
      <div class="col-md-10">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link d-flex" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne">
                  <i class="fas fa-chevron-right"></i>
                  <div>How long are appointments?</div>
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                Appointments are booked for 1 hour.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed d-flex" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                  aria-controls="collapseTwo">
                  <i class="fas fa-chevron-right"></i>
                  <div> What is the cost?</div>
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                Sessions are charged at $125 per hour.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed d-flex" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                  aria-controls="collapseThree">
                  <i class="fas fa-chevron-right"></i>
                  <div>Are appointments held in person?</div>
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                Not at this time. All appointments are conducted via the phone or Zoom.
              </div>
            </div>



          </div>
          <div class="card">
            <div class="card-header" id="heading4">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed d-flex" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false"
                  aria-controls="collapse4">
                  <i class="fas fa-chevron-right"></i>
                  <div>I’m going to be studying at a private institution.
                    <br/>Does Post-Ability help me prepare for this type of training?</div>
                </button>
              </h5>
            </div>
            <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
              <div class="card-body">
                Private schools can have fewer established resources for students with disabilities. However, depending on the program and
                area of study, there may be useful steps you can take to prepare for the program. We recommend you contact
                us first to discuss if there are resources you can access at your school.
              </div>
            </div>



          </div>
          <div class="card">
            <div class="card-header" id="heading5">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed d-flex" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false"
                  aria-controls="collapse4">
                  <i class="fas fa-chevron-right "></i>
                  <div>When is the best time to start with Post-Ability?</div>
                </button>
              </h5>
            </div>
            <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
              <div class="card-body">
                Our services are designed to help students as they are getting ready to start a program. While you are welcome to contact
                us at any time support, you can take full advantage of our services if you are able to have your first meeting
                4 – 8 weeks prior to starting your training.
              </div>
            </div>



          </div>
          <div class="card">
            <div class="card-header" id="heading6">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed d-flex" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false"
                  aria-controls="collapse6">
                  <i class="fas fa-chevron-right"></i>
                  <div>Does Post-Ability provide career counselling?</div>
                </button>
              </h5>
            </div>
            <div id="collapse6" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
              <div class="card-body">

                No. However, there is a session that reviews disabilities and how accommodations can assist in the workplace and we’re happy
                to refer you to other useful resources if you require such assistance.

              </div>
            </div>



          </div>
          <div class="card">
            <div class="card-header" id="heading7">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed d-flex" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false"
                  aria-controls="collapse7">
                  <i class="fas fa-chevron-right"></i>
                  <div>Does Post-Ability provide services in a group setting?</div>
                </button>
              </h5>
            </div>
            <div id="collapse7" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
              <div class="card-body">
                Services for groups are possible and reviewed on a case-by-case basis to evaluate how best to serve the needs of the participants.

              </div>
            </div>

          </div>
        </div>


      </div>
    </div>
  </div>
</section>


<!-- Modal -->
<div class="modal fade" id="modalGoals" tabindex="-1" role="dialog" aria-labelledby="identifyingEducationalGoals" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="identifyingEducationalGoals">Identifying Educational Goals</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <p class="lead">Particular areas to be explored will include:</p>

        <ul>
          <li>Area of study </li>
          <li>School and start date</li>
          <li>Academic challenges related to their disability</li>
          <li>Specific concerns and questions they may have about preparing for post-secondary education. </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalGuide" tabindex="-1" role="dialog" aria-labelledby="modalGuideTitle" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="modalGuideTitle">Guide to Post-Secondary</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <p class="lead">Topics to be covered during the meeting will include:</p>

        <ul>
          <li>Availability of accessibility services – Where, when, and how to access them.</li>
          <li>Review of required medical documentation – Do you have everything prepared?</li>
          <li>Useful student services at the school – What other key resources are available at your school?</li>
          <li>Recommended timeline for the student as they prepare for the first day of classes – What do you need to do before
            you start your program? </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalAdditional" tabindex="-1" role="dialog" aria-labelledby="modalAdditionalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="modalAdditionalTitle">Additional Sessions</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <h4>Specialized Funding for Students with Disabilities</h4>

        <p>Did you know that students with disabilities may be eligible for specialized funding? In addition to grants and bursaries,
          eligible students can also access financial support for additional services and equipment to support their disability
          related needs during their post-secondary experience.</p>
        <p>This session reviews all eligibility requirements for such funding, the application process, as well as the necessary
          timelines that will need to be met to ensure funding is approved and efficiently received.</p>



        <h4>Assistive Technology at Post-Secondary</h4>

        <p>Disabilities can create particular challenges at school and can impact specific academic responsibilities including
          reading, writing, math, and time management. Fortunately, there can be easy technological solutions and specialized
          equipment to help manage some of these more challenging demands. However, a fundamental part of effectively integrating
          these assistive tools is to identify available options and become familiar with their use before the first day
          of class. This session examines assistive technology and equipment that are specifically designed to address unique
          learning styles. The session will also review programs that can provide the equipment free of charge for eligible
          students.
        </p>


        <h4>Coaching and Advocacy</h4>

        <p>Some students can face particular challenges with organization, time management and feelings of becoming overwhelmed
          as they are confronted with the pressure and pace of post-secondary school. This can be particularly challenging
          for students who are transitioning from high school where they were provided with support staff and who assisted
          them with these particular learning needs. The Coaching and Advocacy session will review the benefits of an Academic
          Strategist and how they work with students with disabilities to manage the various challenges of studying at higher
          education. Funding options for such services may also be available and will be reviewed during this session.</p>


        <h4>Checklist before the First Day</h4>

        <p>There are simple steps that a student can take to make sure they’re set up for success before the first day of school.
          This session covers a variety of useful and easy things to do to help a student start classes with confidence.</p>


        <h4>Disability at Work – Employment Accommodations</h4>

        <p>What’s the plan after school is complete? Will there be a need for supports or accommodations at the future workplace?
          Where can a graduate go to access them and how could this impact their job opportunities? This session reviews
          what accommodations can look like in the work force as well as community resources that help job seekers with disabilities
          connect with employers.
        </p>
      </div>
    </div>
  </div>
</div>