@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./variables";

body, html {
  padding: 0;
  margin: 0;
  background: #fafafa;
}

body {
  padding-top: 56px;

  @include media-breakpoint-up(md) { 
    padding-top: 72px;
  }
}

.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;

  @include media-breakpoint-up(md) { 
    top: -96px;
  }
}

.fixedNavbar {
  position: fixed;
  background: #fff;
  width: 100%;
  z-index: 2;
  top: 0;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 500;
}


.section {
  @extend .py-4;

  &--dark {
    h2, h5, p {
      color: $white;
    }

    .text-muted {
      color: rgba($white, 0.75) !important;
    }
  }
}

@include media-breakpoint-up(sm) { 
  .navbar-expand-lg > .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.img-circle {
  background-color: $white;
  margin-bottom: 0.5rem;
  padding: 0.25rem;
  border-radius: 50%;
}

a{
  transition: all 150ms linear;
}

.navbar-brand {
  font-weight: 500;
}

.navbar-toggler {
  border: 0;
}

.header-section {
  min-height: calc(100vh - 3.5rem);
  min-height: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @include media-breakpoint-up(lg) { 
    min-height: calc(100vh - 4.5rem);
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../img/header.jpg');
    background-size: cover;
    background-position: center left;
    opacity: 0.25;

    @include media-breakpoint-up(lg) { 
    background: url('../img/header-desktop.jpg');
    background-size: cover;
    background-position: center left;
    }
  }

  h1{
    font-weight: 600;
  }
}

.about {
  background: $light-green;
}

.services {
  .fas {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: $light-green;

  }

  &__tilesLearnMore {
    color: $light-green;
    margin-top: auto;
    text-decoration: underline;

    &:hover {
      color: $info-hover;
    }
  }

  &__tiles {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    background: $white;
    color: $headings-color;
    border-radius: 8px;
    padding: 2rem 1.5rem;
    border: 0;
    transition: all 0.3s;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);

    h3, p, .services__tilesLearnMore, .fas {
      transition: all 0.3s;
    }

    &:hover {
      color: $body-text-hover;
      background: rgba($white, 0.6);

      h3, p {
        color: $body-text-hover;
      }

      .fas {
        color: $light-green-hover;
      }

      .services__tilesLearnMore {
        color: $light-green-hover;
      }
    }
  }
}

.modal-content {
  border-radius: 8px;
  border: 0;
}

.modal-header {
  display: flex;
  align-items: center;
}

.modal-dialog .close {
  opacity: 1 !important;

  &:not(:disabled):not(.disabled):hover, &:not(:disabled):not(.disabled):focus {
    opacity: 1;

    .fa-times {
      color: $light-green-hover;
    }
  }
}

.modal-dialog .fa-times {
  color: $light-green;
}

.modal-content p {
  margin-bottom: 1rem;
}

.modal-content h4:not(:first-child) {
  margin-top: 1.5rem;
}

.faq {
  

  .accordion {
    box-shadow: $box-shadow;
    border: 0;

    p:last-child {
      margin-bottom: 0;
    }

    .card {
      border: 0;
      border-bottom: 1px solid #ddd;
    }

    .card-header {
      background: $white;
      padding: 0;
      border-bottom: 1px solid #ddd;

      button {
        width: 100%;
        text-align: left;
        padding: 0.75rem 1rem;
        color: $body-color;
        font-size: 1.25rem;
        font-weight: 500;
        transition: all 150ms linear;

        &:focus {
          box-shadow: none;
        }

        &:hover, &:focus {
          color: $body-text-hover;
          text-decoration: none;

          .fa-chevron-right {
            color: $light-green-hover;
          }
        }

        &.collapsed .fa-chevron-right {
          transform: rotate(0deg);
        }
      }

      .fa-chevron-right {
        color: $light-green;
        transition: all 150ms linear;
        margin-right: 0.5rem;
        margin-top: 0.3125rem;
        transform: rotate(90deg);
        transition: all 0.3s ease-in-out;
      }
    }
  } 
}

.who {
  background: $brow-bg;

  .employee-pic {
    display: block;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
  }
}

footer {
  background: $brow-bg;
  color: rgba(255,255,255,0.8);
  padding: 1rem 0;

  .copyright {
    color: #777777;
  }

  a {
    color: rgba(255,255,255,0.8);
    text-decoration: underline;

    &:hover {
      color: #E3E3E3;
    }
  }
}

