@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./variables";

body, html {
  padding: 0;
  margin: 0;
  background: #fafafa;
}

.section {
  @extend .py-4;

  &--dark {
    h2, h5, p {
      color: $white;
    }

    .text-muted {
      color: rgba($white, 0.75) !important;
    }
  }
}



.img-circle {
  background-color: $white;
  margin-bottom: 0.5rem;
  padding: 0.25rem;
  border-radius: 50%;
}

.about {
  background: $light-green;
}

.services {
  .fas {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: $light-green;
  }

  &__tiles {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    background: $white;
    color: $headings-color;
    border-radius: 8px;
    padding: 2rem 1.5rem;
    border: 0;
    transition: all 0.3s;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);

    h3, p, .services__tilesLearnMore, .fas {
      transition: all 0.3s;
    }

    &:hover {
      color: $body-text-hover;
      background: rgba($white, 0.6);

      h3, p {
        color: $body-text-hover;
      }

      .fas {
        color: $light-green-hover;
      }

      .services__tilesLearnMore {
        color: $info-hover;
      }
    }
  }

  &__tilesLearnMore {
    color: $info;
    margin-top: auto;

    &:hover {
      color: $info-hover;
    }
  }
}

.modal-content {
  border-radius: 8px;
  border: 0;
}

.modal-header {
  display: flex;
  align-items: center;
}

.modal-dialog .close {
  opacity: 1 !important;

  &:not(:disabled):not(.disabled):hover, &:not(:disabled):not(.disabled):focus {
    opacity: 1;

    .fa-times {
      color: $light-green-hover;
    }
  }
}

.modal-dialog .fa-times {
  color: $light-green;
}

.modal-content p {
  margin-bottom: 1rem;
}

.modal-content h4:not(:first-child) {
  margin-top: 1.5rem;
}

.who {
  background: #2d2e2e;

  .employee-pic {
    display: block;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
  }
}

