$light-green: #7A9E9F;
$light-green-hover: #427C89;
$green-text: #66615b;
$info-hover: darken($info, 10%);
$body-text-hover: darken($headings-color, 10%);
$brow-bg: #2d2e2e;
$box-shadow:  0 2px 4px -1px rgba(0, 0, 0, 0.2);